<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>SMLoginItem</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Xpycode/syncthingStatus/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>eH6joIk0G+i5Hur25e/9B4hF3jN8q5lBqXzMxuOfcxw=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
